// Skip link
.o-skip-link {
    position: absolute;
    top:-80px;
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    background: $primary;
    color: #fff;
    z-index: 999999;
    -webkit-transition: top 1s; /* For Safari 3.1 to 6.0 */
    transition: top 1s;

    &:focus {
      top: 0;
    }
}

// Title formatting
.o-title {
  font-weight: bold;
  margin-bottom: $spacing*2;
  // Main page title
  &--page {
  	font-size: $crust;
  	margin-top: $spacing*2.5;
  }
  // Section title
  &--section {
  	font-size: $outerCore;
    margin-bottom $spacing
	}
  // Subtitle. Same as section title but without border
  &--subtitle {
    font-size: $mantle;
  }
}

.o-button {
  button($primary) 
}