// Title formatting
.o-title {
  font-weight: bold;
  margin-bottom: $spacing*2;
  // Main page title
  &--page {
  	font-size: $crust;
  	margin-top: $spacing*2.5;
  }
  // Section title
  &--section {
  	font-size: $outerCore;
    margin-bottom $spacing
	}
  // Subtitle. Same as section title but without border
  &--subtitle {
    font-size: $mantle;
  }
}

.o-button {
  button($primary) 
}