@require '../../globals/styles/_toolkit.styl'

.c-main-nav {
  float:left;
  ul {
    inline-link-list()
    li {
      a {
        color: $light;
        font-weight bold;
      }
      &:first-of-type {
        a:before {
          use-icon('\e88a')
          margin-right: $spacing*.5
          font-size: $outerCore;
        }
      }
    }
  }
}