@use '@afp/themes' as vars;

.block {
  color: white;
  font-weight: bold;
  overflow: hidden;
  padding: vars.$segmentPadding; 
}

.sunrise {
  background: #c7a86e
}

.daylight {
  background: #00b7ff
}

.darkness {
  background: #05021d
}

.sunset {
  background-color: #464696;
}
