@require '../../globals/styles/_toolkit.styl'

.c-social-links {
  float:right;
  ul {
    inline-link-list()
  }
  span {
    display: none;
  }
  a {
    color: $light;
    font-size: $mantle;
  }
}