.t-home {
  height: 91vh // Replace this with flexbox
  background: #8dccf0;
  background-image: url("rolling-hills.svg"); /* fallback */
  background-image: url("rolling-hills.svg"), linear-gradient(#8dccf0, #6699cc); /* W3C */
  background-position: bottom right;
  background-repeat: no-repeat;
}